body,
html {
  overflow: auto;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  /* grid-template-rows: repeat(auto-fit, minMax(200px, 1fr)); */
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar main"
    "sidebar main"
    "sidebar main";
}

.header {
  background: black;
  color: white;
  grid-area: header;
  display: grid;
}

.search {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.sidebar {
  background: radial-gradient(#2dd4bf, #10b981, #155e75);

  grid-area: sidebar;
  display: flex;
  flex-direction: column;

  padding: 20px;
}

.main-content {
  height: 100%;
  grid-area: main;
  background-color: black;
  /* box-shadow: 0px 0 8px rgba(0, 0, 0, 0.8); */
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minMax(300px, 1fr));
}

ul {
  font-size: 2rem;
  list-style: none;
  display: grid;
  gap: 10px;
  margin-top: 20px;
  padding: 0;
}

li {
  text-align: left;
  padding: 5px;
  display: flex;
  justify-content: left;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
  margin-left: 8px;
}

a:hover {
  text-decoration: underline;
}

.logo {
  display: flex;
  align-items: center;
  margin-top: 0;
  color: white;
}

h1 > img {
  width: 3.5rem;
  margin-right: 8px;
}

#search {
  display: grid;
  background: radial-gradient(#2dd4bf, #10b981, #155e75);
  color: white;
  font-size: 1.5rem;
  border-radius: 35px;
  margin-left: 10px;
  outline: none;
  border: none;
  height: 3.5rem;
  width: clamp(150px, 80%, 800px);

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.search-container {
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-left: 20px;
}

.bell {
  display: flex;
  grid-template-columns: 1fr;

  justify-items: center;
  align-items: center;
  padding: 15px;
}

.bell > div {
  flex: 1;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-right: 20px;

  font-size: 1.8rem;
  font-weight: bold;
}

.bell img {
  margin: 10px;
  justify-self: center;
  align-self: center;
}

.bell-img {
  transform: scale(1.3);
}

.search-container img {
  position: relative;
  top: 15px;
  width: 2rem;
}

.welcome {
  display: grid;
  grid-template-columns: 200px 1.8fr 0.8fr;
  margin-right: 4%;
}

.welcome > img {
  margin-right: 10px;
  justify-self: right;
}

.welcome > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hi {
  font-weight: bold;
  font-size: 0.9rem;
}

.user {
  font-weight: bold;
  font-size: clamp(1rem, 1vw + 1rem, 2rem);
}

.btn-container {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  justify-content: center;
}

button {
  font-weight: bold;
  appearance: none;
  border: none;
  border-radius: 35px;
  padding: 0.8vw;
  width: 5vw;
  background: radial-gradient(#2dd4bf, #10b981, #155e75);
  color: white;
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.mikasa {
  justify-self: center;
  align-self: center;
}

.projects {
  display: grid;
  gap: 15px;
  padding: 10px 0 10px 10px;
  grid-template-rows: 50px 0.5fr 0.5fr 0.5fr;
  grid-template-columns: 1fr;
  justify-content: center;
}

h3 {
  margin: 0;
  padding: 0;
}

.projects div {
  background-color: black;
  border-radius: 10px;
  padding: 20px;

  display: grid;
  grid-template-rows: 20px 1fr 50px;
}

.icons {
  grid-template-columns: repeat(8, 0.5fr);

  grid-template-rows: 1fr !important;
  border: none !important;

  justify-items: right;
}

.icon-1 {
  grid-column: 6 / 7;
}

.projects p {
  margin: 5px 0 0 0;
  color: #919191;
}

.column2 {
  display: grid;
  gap: 15px;
  padding: 10px 0 10px 10px;
  grid-template-rows: 50px 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  justify-content: center;
}

.column2 p {
  color: #919191;
  margin: 5px 0 0 0;
}

.column2 div {
  background-color: black;
  border-radius: 10px;
  padding: 20px;

  display: grid;
  grid-template-rows: 20px 1fr 50px;
}

.announcements {
  display: grid;
  grid-template-rows: 50px 1fr 50px 1fr;
  grid-template-columns: 0.9fr;
  gap: 15px;
  padding: 10px 0 10px 10px;
}

.announcements div {
  background-color: white;
  padding: 15px;

  border-radius: 10px;
  display: grid;
}

.announcements p {
  color: #919191;
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
}

h4 {
  padding: 0;
  margin: 0;
}

.announcements > div div {
  border-bottom: 1px solid grey;
  border-radius: 0;
}

.maint {
  border: none !important;
}

.trend {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  align-items: center;
  justify-items: center;
}

.trending img {
  margin-left: 10px;
}

.sub-text {
  color: #919191;
  font-size: 0.9em;
}

.at {
  font-size: 1.2rem;
}

.trend div {
  justify-self: left;
}

.trending * {
  border: none !important;
}

.projects p,
h3,
img {
  position: relative;
  z-index: 10;
}

.projects div {
  position: relative;
  overflow: hidden;
  color: white;
}

.projects div::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 300%;

  margin-left: auto;
  margin-right: auto;
  top: -200px;
  left: 0;
  right: 0;
  text-align: center;
  background: radial-gradient(#2dd4bf, #10b981, #155e75);
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.projects div::before {
  content: "";
  background: black;
  position: absolute;
  z-index: 2;

  inset: 5px;
}

h2 {
  color: white;
}

.column2 {
  overflow: hidden;
}

.column2 p,
h3,
img {
  position: relative;
  z-index: 10;
}

.column2 div {
  position: relative;
  overflow: hidden;
  color: white;
}

.column2 div::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 300%;

  margin-left: auto;
  margin-right: auto;
  top: -200px;
  left: 0;
  right: 0;
  text-align: center;
  background: radial-gradient(#2dd4bf, #10b981, #155e75);
  animation: animate 4s linear infinite;
}

.column2 div::before {
  content: "";
  background: black;
  position: absolute;
  z-index: 2;

  inset: 5px;
}

.announcements div {
  background: black;
  color: white;
}

.div2 {
  position: relative;
  overflow: hidden;
}

.div2 div::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 300%;

  margin-left: auto;
  margin-right: auto;
  top: -200px;
  left: 0;
  right: 0;
  text-align: center;
  background: radial-gradient(#2dd4bf, #10b981, #155e75);
  animation: animate 4s linear infinite;
}

.div2 p,
h3,
h4,
img {
  position: relative;
  z-index: 10;
}

.div2::before {
  content: "";
  background: black;
  position: absolute;
  z-index: 2;

  inset: 5px;
}

.trending {
  position: relative;
  overflow: hidden;
}

.trending::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 300%;

  margin-left: auto;
  margin-right: auto;
  top: -200px;
  left: 0;
  right: 0;
  text-align: center;
  background: radial-gradient(#2dd4bf, #10b981, #155e75);
  animation: animate 4s linear infinite;
}

.trending::before {
  content: "";
  background: black;
  position: absolute;
  z-index: 2;

  inset: 5px;
}

.trending p,
h3,
h4,
img,
span {
  position: relative;
  z-index: 10;
  color: white;
}
